<html>
        <head>
        </head>

        <body>
            <h1>Environmental Robustness Analysis</h1>
            
            <ul>
            <li>
            <a href="heatmap/heatmap.html">
             <b>Inputs vs objectives heatmap</b> showing the number of conditions where an activated input corresponds to an activated objective
            </a>
            </li>
            <li>
            <a href="robustnessHistogram/histogram.html">
             <b>Robustness histogram</b>: histogram of the number of conditions where each objective function is activated 
            </a>
            </li>
            </ul>
        </body>
        </html>