#to normalize all the experimental values
R_EX_glc_e -100

atpYield 0 999999

sum 0 2900



EQUATIONS

#definitions of variables for objectives

atpYield = R_PYK + -1*R_PPCK + R_PTAr

sum = -1*R_EX_glc_e + R_G6PDH2r + R_GND + R_PGI + R_PFK + R_FBA + R_TKT1 + R_TKT2 + R_TALA + R_GAPD + -1*R_PGK + -1*R_PGM + R_ENO + R_PYK + R_PDH + R_CS + R_ICDHyr + -1*R_SUCOAS + R_FUM + R_MDH + R_ME1 + R_PPCK + R_PPC + R_PTAr + -1*R_ACKr + R_NADTRHD
