*.class


# Eclipse specific files/directories
.classpath
.project
bin
.fatjar
.Rhistory
.svn/
*.svn
hs*log
*.zip
*~
*.log
/bin
/.fatjar
/.gitignore
/.Rhistory
shell/FlexFlux_Lucas/
sandbox
jsbml.log
*.zip
*.gz
