<html>
        <head>
        </head>

        <body>
            <h1>Condition Comparison analysis</h1>
            
            <ul>
            <li>
            <a href="summary/fba_results.html">
             Conditions vs objectives heatmap
            </a>
            </li>
            
            <li>
            <a href="reactions/summary.html">
             Bar plot to summarize essential, dispensable and dead reactions depending on the conditions and the objectives
            </a>
            </li>
            <li>
            <a href="reactions/inchlib.html">
             HeatMap showing the clustering of the reactions and the conditions depending on the essential, dispensable, dead features.
            </a>
            </li>
            <li>
            <a href="genes/summary.html">
             Bar plot to summarize essential, dispensable and dead genes depending on the conditions and the objectives
            </a>
            </li>
            <li>
            <a href="genes/inchlib.html">
             HeatMap showing the clustering of the genes and the conditions depending on the essential, dispensable, dead features.
            </a>
            </li>
            </ul>
            
        </body>
        </html>