/And.class
/EqInteraction.class
/IfThenInteraction.class
/Interaction.class
/InteractionNetwork.class
/InversedRelation.class
/Or.class
/Relation.class
/RelationFactory.class
/RelationWithList.class
/Unique.class
/UniqueProbability.class
